<h2>The mergeMap() operator transforms the values emitted by an Observable into a new Observable and process all
    requests one by one when a new value arrives. The mergeMap() operator is often used for handling asynchronous
    operations, such as making HTTP requests in Angular.
</h2>
<div class="center">
    <div>
        <input type="text" [formControl]="searchControl" placeholder="search ...">
        @if(loading){
            <div>Loading .......</div>
        } @else{
            @for(fruit of fruits; track fruit){
                <div>{{fruit}}</div>
            }
        }
    </div>
</div>