<div class="ui container">

    <h2 class="ui center aligned header">Currency Converter</h2>

    <label for="amount">Amount</label>

    <input type="number" id="amount" placeholder="Enter Amount" #amount value="1">

    <!-- Currency to convert from -->

    <div class="field">

        <label for="from">From</label>

        <select name="from" id="from" #from (change)="convertToRate(amount.value, from.value, convertTo.value)">

            <option *ngFor="let currency of currencyCodes" [value]="currency.code" >

                {{ currency.name }}

            </option>

        </select>

    </div>

    <!-- Currency to convert to -->

    <label for="to">To</label>

    <select name="from" id="from" #convertTo (change)="convertToRate(amount.value, from.value, convertTo.value)">

        <option *ngFor="let currency of currencyCodes" [value]="currency.code" >

            {{ currency.name }}

        </option>

    </select>

    <div class="ui inverted green raised segment">{{ resultText }}</div>

</div>
