<h2>The throttleTime() operator is used to ignore subscription for given time like when we want to hit an API but you
    want a delay but want to get the latest value emitted from source observable then, ThrottleTime can be used.
</h2>
<h2>it
    seems similar to debounceTime where it is also make delay for the subscriptions but debounceTime() is only emits the
    last value emitted in source observable and throttleTime() picks the latest value emitted in the source observable.
</h2><br>
<input type="text" id="query">