<div class="container">
    <h1>Rxjs Component</h1>
    <nav>
        <a [routerLink]="'map'"> Map</a><br>
        <a [routerLink]="'filter'"> Filter</a><br>
        <a [routerLink]="'debounce-time'"> debounceTime</a><br>
        <a [routerLink]="'throttle-time'"> throttleTime</a><br>
        <a [routerLink]="'interval'"> interval</a><br>
        <a [routerLink]="'merge-map'"> mergeMap</a><br>
        <a [routerLink]="'switch-map'"> switchMap</a><br>
        <a [routerLink]="'concat-map'"> concatMap</a><br>
    </nav>
    <router-outlet></router-outlet>
    <h1>Open Dev tool to understand</h1>
</div>