<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="">Title</label><br>
    <input type="text" formControlName="title" placeholder="title"><br>
    <div formGroupName="userDetails">
        <label for="">name</label><br>
        <input type="text" formControlName="name" placeholder="name"><br>
        <label for="">age</label><br>
        <input type="text" formControlName="age" placeholder="age"><br>
    </div>
    <br><br>
  <button (click)="addSkill()">add</button>
    <div formArrayName="skills" >
        <ng-container *ngFor="let skill of skillFormArray['controls']; let skillIndex = index">
            <hr />
            <label for="">Skill</label><br>
            <input [formControlName]="skillIndex" placeholder="skill" />
            <button (click)="removeSkill(skillIndex)">add</button>
        </ng-container>
    </div>

    <pre>{{form.value | json}}</pre>
</form>
