<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <button *ngIf="!form.get('designation')" (click)="addDesignationCtrl()">Add Designation Control</button><br>

    <button *ngIf="form.get('designation')" (click)="removeDesignationCtrl()">Remove Designation Control</button><br>

    <label for="">Title</label><br>
    <input type="text" formControlName="title" placeholder="title"><br>
    <div *ngIf="form.get('title')?.hasError('noSpaceError')">Username cannot contain spaces.</div>
    <div *ngIf="form.get('designation')">
        <label for="">designation</label><br>
        <input type="text" formControlName="designation" placeholder="designation"><br>
    </div>
    <div formGroupName="userDetails">
        <label for="">name</label><br>
        <input type="text" formControlName="name" placeholder="name"><br>
        <label for="">age</label><br>
        <input type="text" formControlName="age" placeholder="age"><br>
    </div>
    <br><br>
  <button (click)="addSkill()">add</button>
    <div formArrayName="skills" >
        <ng-container *ngFor="let skill of skillFormArray['controls']; let skillIndex = index">
            <hr />
            <label for="">Skill</label><br>
            <input [formControlName]="skillIndex" placeholder="skill" />
            <button (click)="removeSkill(skillIndex)"> - </button>
        </ng-container>
    </div><br>

    <button type="submit"> Submit Form</button>

    <pre>{{form.value | json}}</pre>
</form>
